
    

    .section-container {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: $main-background;
        margin: {
            top: 17px;
            right: 18px; 
            left: 206px;
        }
        
        
    }

