.flex-container {
    display: flex;
}

* {
    box-sizing: border-box;
  }
  
body {
    background-color: #f2f2ef;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}  

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}