.sidebar {
    position: fixed;
    flex-direction: column;
    background-color: $sidebar-background;
    height: 100%;
    width: 188px;
    .logo-container {
        align-items: center;
        flex-wrap: nowrap;
    }
    
}

@media (max-width:764px) {
    .sidebar {
        width: 55px;
    }
    .menu-disabled {
        display: none;
    }

    .vertical-line {
        width: 55px;
    }
}
