.sidebar {
    flex-direction: column;
    background-color: $sidebar-background;
    height: 100%;
    width: 188px;
    .logo-container {
        align-items: center;
        flex-wrap: nowrap;
        
    }
    
}