.sidebar {
    z-index: 1;
    position: fixed;
    flex-direction: column;
    background-color: $sidebar-background;
    height: 100%;
    
    top: 0;

    .logo-container {
        align-items: center;
        flex-wrap: nowrap;
    }
}

    .menu-disabled {
        display: none;
    }

    .vertical-line {
      width: 55px;
    }

    .show {
        display: block;
    }

