.topbar {
   background-color: $main-background;
   position: fixed;
   width: 100%;
   top: 0;

    .topbar-container {
        justify-content: flex-end;
        border-bottom: solid 2px $borders;
        max-width: 100%;
    }
}

@media(max-width:764px) {
    .topbar {
        display: none;
    }
}