.topbar {
   //position: fixed;
   background-color: $main-background;

    .topbar-container {
        justify-content: flex-end;
        border-bottom: solid 2px $borders;
        //margin-left: 799px;
        width: 100%;
    }
}