.btn {
    background-color: $elemnt-background;
    border-radius: 3px;
    border: none;
    justify-content: center;
    align-content: center; 
    cursor: pointer; 
}

.btn-date {
    width: 41px;
    height: 41px;
    margin-top: -3px;
       
        svg {
            width: 15px;
            height: 15px;
            fill: $main-background;
        }
}

.btn-add {
    width: 127px;
    height: 40px;
    color: $main-background;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 300;  
}

.btn-save {
    width: 95px;
    height: 40px;
    color: $main-background;
    font-family: $main-font;
}
@media not all and (hover: none) {
    .btn:hover {
        background-color: #ffa200;
    }
}

@media (max-width:764px) {
    .btn-date {
        margin: {
            left: -5px;
            right: 5px;
        }
    }
}