.chart {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    h4 {
        margin: {
            left: 185px;
            top: 62px;
        }
    }
    .graph {
        justify-content: center;
        
            display: block;
            width: 100%;
            overflow-x: auto;
       

        img {
            margin: {
                top: 11px;
                bottom: 55px;
            }
            width: auto;
            //max-width: 655px;
            //max-height: 345px;
        }
    }

   
}