.chart {
    flex-wrap: nowrap;
    //flex-direction: column;

    .earning-chart {
        justify-content: center;

        h4 {
            margin: {
                top: 62px;
            }
        }
    }
}

.graph {
        justify-content: center;
       
        img {
            margin: {
                top: 11px;
                bottom: 55px;
                left: 15px;
                right: 15px;
            }
            width: 100%;
            max-width: 655px;
            max-height: 345px;
        }
    }

@media(max-width:764px) {
    .graph {
        display: block;
        overflow-x: auto;
    }

    .earning-chart {
        justify-content: center;

    }
}