.form-container {
    margin-top: 40px;
    
    flex-direction: column;
    border-bottom: solid 1px $borders;

    .form-content {
        justify-content: center;
        align-content: center;
        margin-left: 5px;

        .margin-bottom {
            margin-bottom: 26px;
        }
        .field {
            align-items: baseline;
            flex-wrap: wrap;

            input {
                margin-bottom: 15px;
                padding: 14px 17px;
                width: 309px;
                height: 40px;
                border-radius: 3px;
                border: 1px solid $borders;
                color: $pharagraph-color;
                font-family: Roboto;
                font-size: $second-font-size;
                font-weight: 300;
            }

            label {
                width: 145px;
                color: $header-color;
                font-family: $main-font;
                font-size: $main-font-size;
                font-weight: 700;
                
            }
        }
    }
}

.form-button {
    justify-content: center;
    margin-top: 31px;
    padding-bottom: 35px;
}