.nav-icon {
    padding: {
        right: 17px;
    }
    .hamburger {
        
        .fa-bars {
            color: $icon-color;
            cursor: pointer;
            font-size: 21px; 
        }
    }
}

@media (max-width:764px)  {
    .fa-bars {
        margin: {
            left: 17px;
            top: 17px;
            bottom: 17px;
            right: 5px;


        }
    }
}