.logo {
   padding: {
        top: 18px;
        bottom: 15px;
        left: 20px;
        right: 46px;
   }

   .logo-img {
       fill : $sidebar-background;
   }
}

@media(max-width:764px) {
    .logo {
        margin-right: -20px;
    }
}
