.page-counter {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: {
        top: 36px;
    }

    a {
        color: $links;

    } 

    .page-counter-wraper {
        justify-content: center;
        align-content: center;
        
        .counter-background {
            justify-content: center;
            align-items: center;
            width: 41px;
            height: 40px;
            border-radius: 3px;
            background-color: #f1f3f3;
        }
    
    }
}

.dumy-div {
   height: 23px;
 }