.payout-table {
        margin: 14px auto 0 auto;
        flex-direction: column;
        max-width: 1021px;
        width: 100%;

    .payout-table-row {
        justify-content: center;
        border-bottom: solid 1px $borders;
        height: 59px;
        align-items: center;

        .table-header {
            font-weight: 700;
            color: $header-color;
            cursor: pointer;
        }

        .date {
            //align-content: center;
            max-width: 323px;
            width: 80%;
            margin-left: 17px;
            flex-wrap: wrap;

            .header-wraper {
                align-items: center;

                .arrow {
                    width: 7px;
                    height: 5px;
                    margin-left: 14px;
                }
            }
        }

        .amount {
            max-width: 318px;
            width: 100%; 
        }

        .deal {
            max-width: 253px;
            width: 100%;
        }

        .account {
            max-width: 137px;
            width: 100%;
        }
    }
}

@media not all and (hover:none) {
    .row-hover:hover {
        background-color: $links-hover;
        opacity: .9;
        cursor: pointer;
    }
}