.profile-container {
    align-items: center;
    margin-top: -3px;

    .profile {
        width: 17px;
        height: 17px;
        fill: $menu-pharagraph;
        margin: {
            left: 19px;
            right: 14px;
        }
    }
    
    .profile-name {
        margin-right: 18px;
    }
}