.table-container {
    flex-wrap: wrap;
    justify-content: space-evenly;

    .column-1 {
        flex-direction: column;

        .row {
            align-items: center;
            border-bottom: solid 2px $borders;
            justify-content: space-between;
            max-width: 100%;
            width: 310px;
            margin-left: auto;
            
            .table-pharagraph {
                p { 
                    margin-bottom: -8px;
                }
            }

            .header {

                h4{
                    margin-bottom: -8px;
                }
            }
        }
    }

    .column-2 {
        flex-direction: column;
        
        .row {
            align-items:center;
            justify-content: space-between;
            border-bottom: solid 2px $borders;
            max-width: 100%;
            width: 310px;
            
            p {
                //margin-left: 199px;
                margin-bottom: -8px;
            }

            h4 {
                margin-bottom: -8px;
            }
        }

    }
}

@media(max-width:764px) {
    h4 {
        margin-left: 17px;
    }
}