
.topbar-mobile {
    margin-top: 20px;
    //width: 55px;

    .menu-item {
    
        .wallet {
            svg {
                width: 17px;
                height: 18px;  
                margin: {
                    left: 18px;
                    right: 13px;
                   } 
                }
            }  

        .profile {
            svg {
                width: 17px;
                height: 17px;
                fill: $menu-pharagraph;
                margin: {
                    left: 17px;
                    right: 14px;
                }
            }
        }  
        
        .notification {
            svg {
                width: 16px;
                height: 17px;
                fill: $menu-pharagraph;
                margin: {
                    left: 17px;
                    right: 14px;
                }
            }

            .indicator {
                border-radius: 50%;
                width: 9px;
                height: 8px;
                align-self: flex-start;
                margin: {
                    top: 9px; 
                    left: -22px;
                    right: 13px;
                }  
            }
        }
    
        .exit {
             svg {
                width: 19px;
                height: 15px;
                fill: $menu-pharagraph;  
                margin: {
                    left: 18px;
                    right: 10px;
                }
            }     
        }
    }
}

@media (min-width:765px) {
    .topbar-mobile {
        display: none;
    }


}

