.vertical-line {
    width: 2px;
    height: 61px;
    background-color: $borders;

    &--date-period {
        width: 1px;
        height: 29px;
        background-color: $borders;
        margin-left: 64px;
    }
}

@media (max-width:764px) {

    .vertical-line--date-period {
        margin-left: 17px;
    }
}