.your-manager {
    margin-left: 20px;
    
    h3 {
        letter-spacing: -0.28px;
    }
    .photo-container {
        align-items: center;
        margin-top: -12px;
        .online-photo {
           align-self: flex-start;
           margin-left: -10px;
        }

    }
}